.graphic-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
}

.content-wrapper {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.content-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.content-wrapper.hidden {
  opacity: 0;
}

.coded-img {
  width: 400px !important;
  margin-bottom: 100px;
}

.brochure-gallery {
  display: flex;
  flex-wrap: nowrap; /* CHANGED */
  gap: 1rem;
  background-color: rgb(40, 40, 40);
  align-items: center;
  height: 100vh; /* ADD THIS */
}

.brochure-img {
  flex-shrink: 0; /* ADD THIS */
  max-width: 400px;
  height: 400px;
  margin: 50px;
}

#sectionPin {
  height: 500vh;
  overflow: visible;
}

.pin-wrap-sticky {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  will-change: transform;
}