.content {
  padding-top: 100px;
}

.row {
  padding-top: 200px;
}

.intro {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 1s;

  display: flex;
  flex-direction: row; /* GRACE and AMES side by side */
  align-items: center; /* horizontal center */
  justify-content: center; /* vertical center */

  overflow: hidden;
  opacity: 1; /* start fully visible */
}

.intro.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* only animate opacity here */
}

.logo {
  color: white;
  display: inline-block; /*allows us to move the span elements */
  margin: 0px 3px;
  bottom: -20px;
  opacity: 0;
  font-size: 50px;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px; /* moves it upwards */
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.home-page-link {
  display: inline-block;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  font-size: 15px;
  padding: 10px;
}

.home-page-link.visible {
  opacity: 1;
  transform: translateY(0);
}

.home-page-link:hover {
  transform: translateY(0) scale(1.2); /* keep it in place, just grow */
  transition: transform 0.15s ease-in; /* this only overrides transform while hovering */
  transition: transform 0.15s ease-out; /* overrides transform speed only */
}
