.background-color {
  background-color: black;
  transition: background-color 0.3s ease;
  min-height: 300vh;
}

/* Three column layout */
.columns {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.column {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.column img {
  display: block;
  margin-bottom: 40px;
}

/* Initial position for reverse columns */
.column-reverse {
  will-change: transform;
}
