.nav-bar {
    height: 100x;
    padding: 10px;
    background-color: white;
    /* transition: background-color 0.3s ease; */
}

.nav-bar-home-link {
    font-size: 24px;
}

.nav-bar-page-links {
    font-size: 16px;
}

.inverted-nav-bar {
    background-color: black !important;
}

.inverted-nav-bar a {
    color: rgb(129, 129, 129) !important;
}


